.header,.hero,.body,.bar,.footer{
	background-color: gray;
	padding:10px 0;
	margin-bottom: 10px;
}
.box{
	margin-bottom: 4px;
	min-height: 70px;
	background-color: #40E0D0;
	color: white;
	border:7.5px solid black;
	font-size: 50px;

}
.white{
	background-color: #F4A460;
}
.header1,.hero1,.body1,.bar1,.footer1{
	background-color: crimson;
	padding:10px 0;
	margin-bottom: 10px;
}
.box1{
	margin-bottom: 4px;
	min-height: 70px;
	background-color: #6693F5;
	color: white;
	border:7.5px solid black;
	font-size: 50px;

}
.white1{
	background-color: slateblue;
}